body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(8067_5f87828ef3ab365f1e81247860357c3d.jpg);
    
}
title{
    
    text-shadow: 10px 50px 3px red,
    
    
        
}
/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }



a {
    display: block;
    background: #00A9D4;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 470px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
}

    a:hover {
        background: #ffa100;
    }
.gameboy {
    transform: translate(500px, -50px);
    display: block;
    background: #00A9D4;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 375px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
}

    .gameboy:hover {
        background: #ffa100;
    }

.gameboyrainbow {
    transform: translate(905px, -100px);
    display: block;
    background: #00A9D4;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 375px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
}

    .gameboyrainbow:hover {
        background: #ffa100;
    }
.creeper {
    transform: translate(0px, 5px);
    display: block;
    background: #00A9D4;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 375px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
}

    .creeper:hover {
        background: #ffa100;
    }
div {
    color: gold;
    font-size: 40px;
    font-family: Cooper;
}
div1{
    color:black;
    font-size:25px;
    font-family:Cooper;
}
.container {
   display:flex;
   background:white;
   padding:30px;
}
.whitecontainer{
    color:black;
    font-family:sans-serif;
    font-size:20px;

}

